# Ignore anything in the data folder
data/*

# Ignore anything in the private folder (security keys, etc.)
private/*

# Ignore the .env file that controls all sensitive ENV variables for this project
.env
